@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #111111;
  --dark-alternate: #1b1918;
  --primary: #ff5f3f;
  --primary-light: #f4ebeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

* {
  @apply font-poppins;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.admin-input {
  @apply flex flex-col gap-2 w-full mb-5;
  input,
  select,
  option,
  date,
  textarea {
    @apply rounded-lg border border-gray-400 h-10 px-3;
  }
}
